IMPORT io.shiftleft/default
IMPORT io.shiftleft/defaultdict

###############################################################################
# Policy file for ShiftLeft NG SAST
# All findings containing the tag CHECK would get suppressed.
# Refer to https://docs.shiftleft.io/ngsast/policies/custom-policies
###############################################################################

###############################################################################
# Sink methods #
###############################################################################

###############################################################################
# Category Remote Code Execution #
###############################################################################

###############################################################################
# Category SQL Injection #
###############################################################################

###############################################################################
# Category Directory Traversal #
###############################################################################

###############################################################################
# Category XSS #
###############################################################################

###############################################################################
# Category Misconfigured Content-Security-Policy #
###############################################################################
TAG "CHECK" METHOD -f "flask-webgoat.run.add_csp_headers:builtins.object(response:builtins.object)"

###############################################################################
# Category Overly Permissive CORS Policy #
###############################################################################

###############################################################################
# Category Open Redirect #
###############################################################################

###############################################################################
# Category Sensitive Data Exposure #
###############################################################################
###############################################################################

###############################################################################
# All methods (Uncomment as needed) #
###############################################################################
